video/H264

### IANA Registration

https://www.iana.org/assignments/media-types/video/H264

### IETF RFC

https://datatracker.ietf.org/doc/html/rfc6184

### Parameters

* Optional parameters (see [RFC 6184 Section 8.2.3](https://datatracker.ietf.org/doc/html/rfc6184#section-8.2.3))
    * `profile-level-id`
    * `sprop-parameter-sets`
    * `sprop-level-parameter-sets`
    * `packetization-mode`
    * `sprop-interleaving-depth`
    * `sprop-deint-buf-req`
    * `sprop-init-buf-time`
    * `sprop-max-don-diff`
    * Note: there are also a large number of H264 receiver capabilities defined which could potentially be mapped to BCP-004-01 Receiver Capabilities?


Initial proposal:
* `profile-level-id` should be mapped into IS-04 Flow
* `packetization-mode` should be mapped into IS-04 Sender
* `sprop-parameter-sets`, while important for out-of-band configuration of a decoder, is not suitable for a Controller to process, and most of the information carried in this parameter is already carried in the IS-04 Flow (frame width and height, frame rate, scan, etc.)


@garethsb can you check this is all covered in the BCP-006-02 if still required.
Architecture Review Group review: closing.